.card {
  width: fit-content;
  min-width: 25vw;
  margin: 1rem auto;
  padding: 0.5rem;
  cursor: pointer;
}
.card button {
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  border: 1px solid #be504d;
  color: #ffffff;
  background-color: transparent;
  align-self: center;
  font-size: 0.8rem;
  transition: all 0.1s ease-in-out;
  margin: 1rem;
  cursor: pointer;
}
.card button:hover{
    background-color: #be504d;
}