.navbar{
    display: flex;
    justify-content:space-between;
    padding:0.8rem 3rem;
    /* outline: 2px solid red; */
    /* border-bottom: 1px solid #FFFFFF; */
    background-color: transparent;
    margin: 0;
    color:#43E8E1;
    position: sticky;
    top: 0;
    left: 0;
}
.logoContainer{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo{
    background-blend-mode: hue;
    height: 2.5rem;
}
.features{
    display: none;
    transition: all 0.5s;
}
.features:hover{
    text-decoration: underline;
}
.navbarOptions{
    display: flex;
    /* outline: 2px solid red; */
    width: 45%;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
}
.startOptions{
    display: flex;
    justify-content: space-between;
    min-width:70%;
    gap:0.5rem;
}
.startOptions a{
    text-decoration: none;
}
.authButtons{
    border-radius: 10rem;
    padding:0.5rem 1rem;
}
.login{
color:#FFFFFF;
border:2px solid transparent;
padding: 0.5rem 1.5rem;
transition: all 0.2s ease;
}
.login:hover{
    border:2px solid #41AF4D;
    color: #41AF4D;
}
.signup{
    color:#FFFFFF;
    background-color: #41AF4D;
    text-align: center;
    border:2px solid #41AF4D;
}
.signup span {
    margin-right: 0.4rem;
}
/* Media Queries */

@media (min-width:600px) {
    .features{
        display: block;
    }
    .startOptions{
        min-width: 0;
    }
    .navbarOptions{
        width:40%;
        justify-content: space-between;
    }
}

@media (min-width:768px){
    .navbarOptions{
        width:30%;
    }
}
@media (min-width:1024px){
    .navbarOptions{
        width:25%;
    }
}
@media (min-width:1200px){
    .navbarOptions{
        width:22%;
    }
}
@media (min-width:1440px){
    .navbarOptions{
        width:15%;
    }
}